<!--Footer-->
<!--Footer-->
<footer class="border-b py-2 px-4 ">
  <div class="container max-w-5xl mx-auto">

    <div class="w-full flex flex-col md:flex-row text-gray-600">
      <div class="flex-1 pt-6">
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underlinehover:text-orange-500">Impressum</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline hover:text-orange-500">Privacy Statement</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="flex-1 pt-6 ">

          <p>Greening Digital</p>
          <p>Origin Berlin</p>
          <p>Mittelweg 50</p>

        </div>


      </div>
    </div>

  </div>
  </div>
</footer>