<nav class="block">
  <div id="nav-content" class="w-full block hidden flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow nav-content">
      {{#foreach navigation}}
      <a href="{{ url absolute='true' }}"
        class="block mt-4 lg:inline-block lg:mt-0 hover:text-bold mr-4 text-xl hover:text-brand-green-lighter">
        {{ label }}
      </a>
      {{/foreach}}
    </div>
  </div>
</nav>